In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Load cleaned dataset
df = pd.read_csv("cleaned_data.csv")

In [3]:
# Summary statistics
print(df.describe())

       start_station_id  end_station_id      start_lat      start_lng  \
count     436529.000000   433210.000000  515167.000000  515167.000000
mean       31381.581588    31383.072944      38.905279     -77.032206
std          289.457924      289.636810       0.028724       0.037154
min        30200.000000    30200.000000      38.750000     -77.390000
25%        31209.000000    31212.000000      38.892221     -77.044597
50%        31288.000000    31288.000000      38.905030     -77.030000
75%        31610.000000    31612.000000      38.918124     -77.011616
max        33200.000000    33200.000000      39.130000     -76.825535

             end_lat        end_lng  trip_duration
count  514758.000000  514758.000000  515167.000000
mean       38.904452     -77.031959      17.345674
std         0.028628       0.037061      53.264197
min        38.700000     -77.490000       0.016667
25%        38.890612     -77.044600       5.783333
50%        38.903658     -77.030000      10.166667
75%        38.917200     -77.010815      17.633333
max        39.130000     -76.740000    1500.250000

In [4]:
# Count members vs. casual riders
print(df['member_casual'].value_counts())

member_casual
member    336099
casual    179068
Name: count, dtype: int64

In [6]:
# Trip duration comparison
df.groupby('member_casual')['trip_duration'].describe()

,count,mean,std,min,25%,50%,75%,max
member_casual,,,,,,,,
casual,179068.0,25.749894,75.367302,0.016667,7.683333,13.333333,24.716667,1500.25
member,336099.0,12.868044,35.561502,0.016667,5.083333,8.883333,14.916667,1499.95